.back-to-dashboard{
    display: flex;
    align-items: center;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 19px;
    color: #545F7D;
    span{
        margin-left: 14px;
        font-size: 16px;
        font-weight: 400;
    }
}
